.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-white);
    padding: 1rem;
}

@media (min-width:800px) {
    .buttons-wrapper {
        padding: 0 6.25rem 2rem;
    }
}