.input-wrapper {
    margin-bottom: 5.75rem;
}

.input-form {
    display: grid;
    gap: 1.5rem;
}

label {
    display: block;
    font-size: .875rem;
}

input {
    width: 100%;
    border: 1px solid var(--clr-light-grey);
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
}

input:focus, input:active {
    outline-color: var(--clr-purple);
}