.plan-period-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--clr-albaster);
    padding-block: .8125rem;
    border-radius: var(--border-radius);
}

.plan-period-wrapper p {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-cool-gray);
}

.plan-period-wrapper .cheked {
    color: var(--clr-marine-blue);
}