.plan-period-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--clr-albaster);
    padding-block: .8125rem;
    border-radius: .5rem;
}

