.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

@media  (max-width:799px){
    .main-wrapper {
        min-height: calc(100vh - 6rem);
        top: 6rem;
        position: absolute;
        width: 100%;
    }

    .steps-wrapper {
        position: absolute;
        width: 100%;
    }

    .steps-section {
        width: calc(100% - 2rem);
        margin-inline: auto;
        background-color: var(--clr-white);
        border-radius: var(--border-radius);
        padding: 2rem 1.5rem;
        box-shadow: var(--box-shadow);
        min-height: 375px;
    }
}

@media (min-width:800px) {
    .page-wrapper {
        display: grid;
        place-content: center;
        min-height: 100vh;     
    }

    .step-form {
        display: grid; 
        grid-template-columns: 1fr 2fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        padding: 1rem;
        background-color: var(--clr-white);
        box-shadow: var(--box-shadow);
        max-width: 940px;
        min-height: 600px;
    }

    .main-wrapper {
        padding: 2.5rem 6.25rem 1rem;
    }
}