@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-albaster: hsl(231, 100%, 99%);
    --clr-magnolia: hsl(217, 100%, 97%);
    --clr-light-grey: hsl(229, 24%, 87%);
    --clr-cool-gray: hsl(231, 11%, 63%);
    --clr-red: hsl(354, 84%, 57%);
    --clr-light-blue: hsl(206, 94%, 87%);
    --clr-pastel-blue: hsl(228, 100%, 84%);
    --clr-purple: hsl(243, 100%, 62%);
    --clr-marine-blue: hsl(213, 96%, 18%);

    --ff-main: 'Ubuntu', sans-serif;
    --fsize-main: 1rem;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --border-radius: .5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: var(--ff-main);
    font-size: var(--fsize-main);
    min-height: 100vh;
    color: var(--clr-marine-blue);
}

.container {
    padding-inline: 1.5rem;
}

.button {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: .75rem 1rem;
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.button:hover {
    opacity: .9;
}

.btn-clear {
    color: var(--clr-marine-blue);
}

.btn-primery {
    background-color: var(--clr-marine-blue);
    color: var(--clr-white);
}

@media (max-width:799px) {
    .button {
        font-size: .875rem;
    }
}

@media (min-width:800px) {
    .container {
        padding-inline: 6.25rem;
    }
}