.card-wrapper {
    display: grid;
    gap: .75rem;
    margin-bottom: 1.5rem;
}

@media (min-width:800px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.125rem;
        margin-bottom: 2rem;
    }
}


@media (min-width:940px) {
    .plan-card {
        min-width: 10rem;
    }
}